.flex-container{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.flex-container-two{
  display: flex;
}
.row-child{
  flex-direction:row;
}
.banner-show {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  min-height: 800px;
}
