.flex-container{
  display: flex;
  flex-direction: column;

}
.flex-container-two{
  display: flex;
  color: #21160B;

}
.row-child{
  flex-direction:row;
}
.show-drone {
  background-image: asset-url("banner.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  min-height: 300px;
  margin-top: 110px;
}

