drones-show.scss

// Specific CSS for your home-page
.show-drone {
   background-image: asset-url("banner.jpg");
     background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  min-height: 1000px;
}
