<% @drones.each do |drone| %>
  <h2><%= link_to drone.title, drone_path(drone) %></h2>
  <% drone.photos.each do |photo| %>
  <%= cl_image_tag(photo.photo.url, :width => 200, :height => 250, :crop => :fill) %>
  <% end %>

  <p><%= drone.address %></p>
  <p><%= drone.average_ratings %></p>
<% end %>
