.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-pricing{
  color: #484848;
  font-size: 15px;
  font-weight: lighter;
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin: 15px;
  color: #484848;
  border-radius: 2px;
  width:250px;
}

.card-uppercase{
  text-transform: uppercase;
}

.card a {
  color: #484848 !important;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  margin: 0;
}

.card p {
  font-size: 12px;
  margin: 0;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


// ---- JASON
.card-jason {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: 32A287;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

// Marie card booking

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin: 15px;
  color: #484848;
  border-radius: 2px;
  width:250px;
  height: 400px;
}

.picture-dahboard {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding: 22px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.btn-dashboard {
  padding-left: 30px;
}

.card-booking {
  font-weight: bold;
}

.text-dash {
  padding-top: 60px;
}
