.formulaire {
  margin-top: 100px;
}


.container2 {
  background: #32A287;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  padding: 50px 0;
}

.container2 * {
  box-sizing: border-box;
}


